.select-exam {
	margin: 2.5rem 0 0 0;
	text-align: center;

	h2 {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.5rem;
	}

	&__select-module {
		margin: 2rem;

		&--select,
		&--option {
			padding: 1rem;
			width: 30rem;
			font-size: 1.5rem;
			text-align: center;
		}
	}
	&__questions-pool {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 2rem 0;
		text-transform: uppercase;
		font-size: 1.5rem;

		label {
			padding: 1rem;
		}
	}
}

@media (min-width: 1024px) {
	.select-exam {
		h2 {
			font-size: 2rem;
		}
		&__questions-pool {
			font-size: 2rem;
		}
	}
}
