.question {
	position: relative;
	&__heading {
		display: flex;
		justify-content: center;
		padding: 1.5rem;
		overflow-wrap: break-word;
	}
	&__active-question {
		font-size: 1.5rem;
		white-space: pre-wrap;
	}
	&__buttons {
		display: flex;
		justify-content: center;

		&--btn {
			margin: 0.5rem;
		}
	}
}
