.answers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 3rem 0;

	&__answer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&--text {
			white-space: pre-wrap;
			width: 100%;
		}

		&--explanationIcon {
			position: absolute;
			left: 0;
			color: var(--main-dark);
			padding: 1rem;
			cursor: pointer;
		}
	}

	&__answerBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5rem 0;
		padding: 2rem 4rem;
		background-color: #ffffff;
		color: black;
		font-size: 1.5rem;
		height: auto;
		width: 40rem;
		cursor: pointer;

		&--correct {
			color: green;
		}

		&--incorrect {
			color: red;
		}
	}
}

@media (min-width: 768px) {
	.answers {
		&__answerBtn {
			width: 60rem;
		}
		&__answer {
			&--explanationText {
				width: 60rem;
			}
		}
	}
}
