.final_result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: --main-dark;
	height: 100%;
	h2 {
		font-size: 5rem;
		color: var(--main-yellow);
	}
	p {
		font-size: 2rem;
	}
	&__countedPoints {
		color: var(--main-yellow);
	}
	&__points {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 2rem 0;
	}
}
@media (min-width: 1024px) {
	.final_result {
		h2 {
			font-size: 9rem;
		}
		p {
			font-size: 3rem;
		}
	}
}
