.homepage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	h1 {
		font-size: 5rem;
		color: var(--main-yellow);
	}
	p {
		font-size: 2rem;
	}
	&__java {
		text-transform: uppercase;
		color: var(--main-yellow);
	}
}
@media (min-width: 1024px) {
	.homepage {
		h1 {
			font-size: 9rem;
		}
		p {
			font-size: 3rem;
		}
	}
}
