* {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.4em;
	vertical-align: baseline;
	text-decoration: none;
	outline: 0;
}

:root {
	--main-yellow: #e7f53c;
	--main-dark: #1f211f;
	--main-white: #fcf1e4;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--main-dark);
	font-family: 'Anonymous Pro', monospace;
	color: var(--main-white);
}

#root {
	height: 100vh;
}

.main-yellow {
	color: var(--main-yellow);
}

.btn {
	display: block;
	position: relative;
	background: var(--main-yellow);
	font-size: 2rem;
	font-family: 'Anonymous Pro', monospace;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid yellow;
	padding: 0.2em 1em;
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		color: var(--main-white);
		background: transparent;
	}
}

@media (min-width: 1024px) {
	.btn {
		font-size: 2.5rem;
	}
}
