.exam {
	padding: 0 0 1.5rem 0;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem;
		h1 {
			font-size: 3rem;
			color: var(--main-yellow);
		}
		p {
			font-size: 2.5rem;
		}
	}

	&__questions {
		p {
			text-align: center;
			font-size: 2.5rem;
		}
	}
}
